body{
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
    font-size: min(6vw, 60px);
/*  font-size: 6vw;*/
}
h2{
    text-align: center;
    font-size: min(5vw, 45px);
/*  font-size: 5vw;*/
}
image{
  width:80%
  margin: auto;
}

header{
    color: black;
    font-size: 4vw;
    text-align: center; 
}

p{
    color: blue;
    font-size: min(2vw, 25px);
/*    font-size: 2vw;*/
}

img{
    padding: 3vw;
}

.linkimg{
 width: max(20vw, 360px);
}

.flex-container{
  display: flex; 
  justify-content: center;
  text-align: center;
  max-width: 90%;
}

.flex-container > div {
  background-color: DarkGrey; 
  margin: 1vw;
  padding: .5vw;
  font-size: 3vw;
}

.leftbar{
  width: 20%;
  text-align: center;
  color: blue;
}



.responsive{ 
    width:80%;
    max-width: 640px;
    height: auto;
}

.imageBox1{
    position: relative;
    margin: 0 auto;
    background-image: url("https://external-preview.redd.it/KGYrz6roD3NlwE3eqkUH338WEkn-CZyUB2nNzINV-Bk.jpg?auto=webp&s=6d5a66ed6930929bccdb9ee145bea9532b6036f5");
    background-repeat: no-repeat;
    background-size : 100% auto;
    aspect-ratio: 591 / 800;
}

.sensoramaText{
    position: absolute;
    font-size: min(3vw, 20px);
    font-weight: bold;
    color: darkgreen;
    background-color: rgba(220, 220, 220, 0.90);
    top: 3%;
    left: 5%;
    right: 5%;
}

.imageBox2{
    position: relative;
    margin: 0 auto;
    background-image: url("https://www.nasa.gov/sites/default/files/styles/800x600_autoletterbox/public/1990_a_new_continent.jpg?itok=5ZEqZK1p");
    background-repeat: no-repeat;
    background-size : 100% auto;
    aspect-ratio: 3 / 2;
}

.nasaText{
    position: absolute;
    font-size: min(3vw, 20px);
    font-weight: bold;
    color: darkgreen;
    background-color: rgba(220, 220, 220, 0.90);
    top: 3%;
    left: 5%;
    right: 5%;
}

.imageBox3{
    position: relative;
    margin: 0 auto;
    background-image: url("https://i.ytimg.com/vi/dji9YiPZ4AM/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size : 100% auto;
    aspect-ratio: 16 / 9;
}

.vr90sText{
    position: absolute;
    font-size: min(3vw, 20px);
    font-weight: bold;
    color: darkgreen;
    background-color: rgba(220, 220, 220, 0.90);
    top: 3%;
    left: 5%;
    right: 5%;
}
    
.clickable{
    cursor: pointer;
}

.defaultInvis{
    display: none;
}

.tabs{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;	
}
.tabs:hover{
	background-color: #777;	
}

#frame{
    border:0px;
    background-attachment: fixed;
    width: 50%; 
    height: auto;
}

@media only screen and (max-width:620px){
	#slider-image {max-width: 100%;}
}

@media only screen and (max-width:620px){
	.responsive
    {width:100%;}
}
